<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.dingowebapp651937" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Dingo</name>
  <description>
        An Ionic Framework and Cordova project.
    </description>
  <author email="info@dingoapp.co.uk" href="http://dingoapp.co.uk">
      Ionic Framework Team
  </author>
  <platform name="android">
    
    <!-- ICONS -->

    <!-- <icon NOTE TO PHIL HANGE PATH HERE src="res/android/ldpi.png" density="ldpi" /> -->


    <icon src="assets/www/img/icons/iconmdpi.png" density="mdpi" />
    <icon src="assets/www/img/icons/iconhdpi.png" density="hdpi" />
    <icon src="assets/www/img/icons/iconxhdpi.png" density="xhdpi" />

    <!-- SPLASH SCREEN -->
    <splash src="res/screen/android/splash-land-hdpi.png" density="land-hdpi"/>
    <splash src="res/screen/android/splash-land-ldpi.png" density="land-ldpi"/>
    <splash src="res/screen/android/splash-land-mdpi.png" density="land-mdpi"/>
    <splash src="res/screen/android/splash-land-xhdpi.png" density="land-xhdpi"/>

    <splash src="res/screen/android/splash-port-hdpi.png" density="port-hdpi"/>
    <splash src="res/screen/android/splash-port-ldpi.png" density="port-ldpi"/>
    <splash src="res/screen/android/splash-port-mdpi.png" density="port-mdpi"/>
    <splash src="res/screen/android/splash-port-xhdpi.png" density="port-xhdpi"/>

  </platform>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <feature name="FacebookConnectPlugin">
      <param name="android-package" value="org.apache.cordova.facebook.ConnectPlugin" />
  </feature>
  <feature name="PushPlugin">
    <param name="ios-package" value="PushPlugin" />
  </feature>
</widget>