<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="uk.co.dingoapp" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Dingo</name>
  <description>
      Dingo is a Ticketing App.
    </description>
  <author email="dingo@dingoapp.co.uk" href="http://dingoapp.co.uk">
      Dingo Team
  </author>
  <platform name="android">
    
    <!-- ICONS -->
    <icon src="www/img/icons/iconmdpi.png" density="mdpi" />
    <icon src="www/img/icons/iconhdpi.png" density="hdpi" />
    <icon src="www/img/icons/iconxhdpi.png" density="xhdpi" />
    <icon src="www/img/icons/iconxxhdpi.png" density="xxhdpi" />
    <icon src="www/img/icons/iconxxxhdpi.png" density="xxxhdpi" />
    

    <!-- SPLASH SCREEN -->
    <splash src="www/img/splash/splash-land-ldpi.png" density="land-ldpi"/>
    <splash src="www/img/splash/splash-land-mdpi.png" density="land-mdpi"/>
    <splash src="www/img/splash/splash-land-hdpi.png" density="land-hdpi"/>
    <splash src="www/img/splash/splash-land-xhdpi.png" density="land-xhdpi"/>

    <splash src="www/img/splash/splash-port-ldpi.png" density="port-ldpi"/>
    <splash src="www/img/splash/splash-port-mdpi.png" density="port-mdpi"/>
    <splash src="www/img/splash/splash-port-hdpi.png" density="port-hdpi"/>
    <splash src="www/img/splash/splash-port-xhdpi.png" density="port-xhdpi"/>

  </platform>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="Orientation" value="portrait" />
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <feature name="FacebookConnectPlugin">
      <param name="android-package" value="org.apache.cordova.facebook.ConnectPlugin" />
  </feature>
  <feature name="PushPlugin">
    <param name="ios-package" value="PushPlugin" />
  </feature>
</widget>