<ion-side-menus class="d-side-menu">

  <ion-side-menu-content drag-content="false">
    
    <ion-nav-bar class="dingo-top-bar bar-stable nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear">
        <i class="icon ion-ios7-arrow-back"></i> Back
      </ion-nav-back-button>
    </ion-nav-bar>

    <ion-view class="d-home" title="">
      <ion-tabs class="tabs-positive tabs-icon-top">
        <ion-tab title="Home" icon="dingo-icon-home" href="/home/events" ng-click="onTabSelected(this)">
          <ion-nav-view name="events-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Sell Tickets" icon="dingo-icon-sell-ticket" href="/home/sell-ticket" ng-click="onTabSelected(this)">
          <ion-nav-view name="sell-ticket-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Messages" badge="num_unread_messages" badge-style="badge-assertive" icon="dingo-icon-messages" href="/home/messages" ng-click="onTabSelected(this)">
          <ion-nav-view name="messages-tab"></ion-nav-view>
        </ion-tab>
      </ion-tabs>
    </ion-view>

  </ion-side-menu-content>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable side">
      <!-- <h1 class="title">Dingo</h1> -->
    </header>
    <ion-content class="has-header">
      <ion-list>
      
        <ion-item menu-close nav-clear class="item item-icon-left" href="#/app/events">
         <!--  <i class="icon ion-earth"></i> -->
          <img class="sidemenuicon" src="img/sidemenu/home.png"/>
          <div class="sidemenutext">Home</div>
          <div class="sidemenuarrow">></div>
        </ion-item>

        <ion-item menu-close nav-clear class="item item-icon-left" href="#/app/mytickets">
          <!-- <i class="icon ion-images"></i> -->
          <img class="sidemenuicon" src="img/sidemenu/tickets.png"/>
          <div class="sidemenutext">My Tickets</div>
          <div class="sidemenuarrow">></div>
        </ion-item>
        
        <ion-item menu-close nav-clear class="item item-icon-left" href="#/app/settings">
          <!-- <i class="icon ion-android-settings"></i> -->
          <img class="sidemenuicon" src="img/sidemenu/settings.png"/>
          <div class="sidemenutext">Settings</div>
          <div class="sidemenuarrow">></div>
        </ion-item>

        <ion-item menu-close nav-clear class="item item-icon-left" href="#/app/faq">
          <!-- <i class="icon ion-android-information"></i> -->
          <img class="sidemenuicon" src="img/sidemenu/faq.png"/>
          <div class="sidemenutext">FAQ's</div>
          <div class="sidemenuarrow">></div>
        </ion-item>

        <ion-item menu-close nav-clear class="item item-icon-left" href="#/app/about">
          <!-- <i class="icon ion-android-information"></i> -->
          <img class="sidemenuicon" src="img/sidemenu/about.png"/>
          <div class="sidemenutext">About</div>
          <div class="sidemenuarrow">></div>
        </ion-item>

        <ion-item menu-close nav-clear class="item item-icon-left" href="mailto:dingo@dingoapp.co.uk">
          <!-- <i class="icon ion-android-information"></i> -->
          <img class="sidemenuicon" src="img/sidemenu/contact.png"/>
          <div class="sidemenutext">Give us Feedback</div>
          <div class="sidemenuarrow">></div>
        </ion-item>

<!--         <ion-item menu-close nav-clear class="item item-icon-left" href="#/app/login">
          <i class="icon ion-log-in"></i>
          <img class="sidemenuicon" src="img/sidemenu/tickets.png"/>
          <div class="sidemenutext">Login Screen (remove)</div>
          <div class="sidemenuarrow">></div>
        </ion-item> -->

        <div class="sidemenufiller"><div>


      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>


