<ion-side-menus class="d-side-menu">

  <ion-side-menu-content drag-content="false">
    <ion-nav-bar class="dingo-top-bar bar-stable nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear">
        <i class="icon ion-ios7-arrow-back"></i> Back
      </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right">

    </ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable side">
     <!--  <h1 class="title">Dingo</h1> -->
    </header>
    <ion-content class="has-header">
      <ion-list>

        <ion-item menu-close nav-clear class="item item-icon-left" href="#/app/events">
         <!--  <i class="icon ion-earth"></i> -->
          <img class="sidemenuicon" src="img/sidemenu/home.png"/>
          <div class="sidemenutext">Home</div>
          <div class="sidemenuarrow">></div>
        </ion-item>

        <ion-item menu-close nav-clear class="item item-icon-left" href="#/app/mytickets">
          <!-- <i class="icon ion-images"></i> -->
          <img class="sidemenuicon" src="img/sidemenu/tickets.png"/>
          <div class="sidemenutext">My Tickets</div>
          <div class="sidemenuarrow">></div>
        </ion-item>

        <ion-item menu-close nav-clear class="item item-icon-left" href="#/app/settings">
          <!-- <i class="icon ion-android-settings"></i> -->
          <img class="sidemenuicon" src="img/sidemenu/settings.png"/>
          <div class="sidemenutext">Settings</div>
          <div class="sidemenuarrow">></div>
        </ion-item>

        <ion-item menu-close nav-clear class="item item-icon-left" href="#/app/faq">
          <!-- <i class="icon ion-android-information"></i> -->
          <img class="sidemenuicon" src="img/sidemenu/faq.png"/>
          <div class="sidemenutext">FAQ's</div>
          <div class="sidemenuarrow">></div>
        </ion-item>

        <ion-item menu-close nav-clear class="item item-icon-left" href="#/app/about">
          <!-- <i class="icon ion-android-information"></i> -->
          <img class="sidemenuicon" src="img/sidemenu/about.png"/>
          <div class="sidemenutext">About</div>
          <div class="sidemenuarrow">></div>
        </ion-item>

        <ion-item menu-close nav-clear class="item item-icon-left" href="mailto:dingo@dingoapp.co.uk">
          <!-- <i class="icon ion-android-information"></i> -->
          <img class="sidemenuicon" src="img/sidemenu/contact.png"/>
          <div class="sidemenutext">Give us Feedback</div>
          <div class="sidemenuarrow">></div>
        </ion-item>

<!--         <ion-item menu-close nav-clear class="item item-icon-left" href="#/app/events">
          <i class="icon ion-earth"></i>
          Main Screen
        </ion-item>

        <ion-item menu-close nav-clear class="item item-icon-left" href="#/app/login">
          <i class="icon ion-log-in"></i>
          Login Screen
        </ion-item>
        
        <ion-item menu-close nav-clear class="item item-icon-left" href="#/app/settings">
          <i class="icon ion-android-settings"></i>
          Settings Screen
        </ion-item>

        <ion-item menu-close nav-clear class="item item-icon-left" href="#/app/mytickets">
          <i class="icon ion-images"></i>
          My Tickets
        </ion-item>

        <ion-item menu-close nav-clear class="item item-icon-left" href="#/app/faq">
          <i class="icon ion-android-information"></i>
          FAQ's
        </ion-item>

        <ion-item menu-close nav-clear class="item item-icon-left" href="#/app/about">
          <i class="icon ion-android-information"></i>
          About Dingo
        </ion-item>

        <ion-item menu-close nav-clear class="item item-icon-left" href="mailto:dingo@dingoapp.co.uk">
          <i class="icon ion-android-information"></i>
          Contact Dingo
        </ion-item> -->

        <div class="sidemenufiller"><div>

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
