<ion-view class="d-event-details" view-title="Event Details">
  <!-- <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons> -->
  <ion-content class="padding">
  	<div class="row event-info" style="background-image: url('{{event.category_image}}');">
  		<div class="event-photo">
  			<img ng-src="{{event.thumb}}" />
  		</div>
  		<div class="event-data col">
  			<div class="event-title">{{event.name}}</div>
        <img class="locationicon" src="img/eventDetails_screen/location_icon.png"/>
  			<div class="event-address">{{event.address}}</div>
        <img class="timeicon" src="img/eventDetails_screen/time_icon.png"/>
				<div class="event-time">{{event.parsed_datetime}}</div>
  		</div>
  	</div>

    <div class="sellerbar">
      <img class="personicon" src="img/eventDetails_screen/person.png"/>
      <div class="sellertext">Sellers</div>
    </div>

  	<ul class="list tickets-list">
    	<li class="ticket item row icon-right ion-chevron-right" ng-repeat="ticket in tickets" ng-click="go('/home/ticket-details/' + event.id + '/' + ticket.id)">
        <img class="ticket-photo" ng-src="{{ticket.user_photo}}"/>
    		<div class="col">{{ticket.user_name}}</div>
    		<div class="ticket-price col col-25">
					<div class="ticket-price">£{{ticket.price}}</div>
					<div class="ticket-price-per-ticket">per ticket</div>
					<div class="ticket-price-available-tickets">x{{ticket.number_of_tickets}}</div>
				</div>
    	</li>
		</ul>


  </ion-content>
</ion-view>






