<ion-view class="d-faq" title="">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">

    <div class="faqicon">
      <img src="img/faq_screen/faq_icon@2x.png"/>
    </div>
    
  <button class="button button-full button-light" onclick="location.href='#/app/faqdetail'">
    What is Dingo all about?
  </button>

  <button class="button button-full button-light" onclick="location.href='#/app/faqdetail'">
    How do I sell my ticket?
  </button>

  <button class="button button-full button-light" onclick="location.href='#/app/faqdetail'">
    Why should I sell my ticket with Dingo?
  </button>

  <button class="button button-full button-light" onclick="location.href='#/app/faqdetail'">
    Why can’t I sell my ticket above face value?
  </button>

  <button class="button button-full button-light" onclick="location.href='#/app/faqdetail'">
    How do the payments work?
  </button>

  <button class="button button-full button-light" onclick="location.href='#/app/faqdetail'">
    How does the fraud guarentee work?
  </button>

  <button class="button button-full button-light" onclick="location.href='#/app/faqdetail'">
    Is Dingo safe?
  </button>

  <button class="button button-full button-light" onclick="location.href='#/app/faqdetail'">
    How do the fees work?
  </button>

  <button class="button button-full button-light" onclick="location.href='#/app/faqdetail#issellingmyticketlegal'">
    Is selling my ticket legal?
  </button>

  </ion-content>
</ion-view>
