<ion-view class="d-messages" view-title="Messages">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="padding" scroll="false">
 
		<div id="conversations">

			<!-- <a ng-repeat="conversation in conversations" class="conversation"> -->
			<a ng-repeat="conversation in conversations" class="conversation icon-right ion-chevron-right" ng-href="#/home/messages/{{conversation.id}}">
					<div class="user">
						<img class="user-pic" ng-src="{{conversation.user_pic}}" />
						<div class="user-name">{{ conversation.user_name }}</div>
					</div>
					<div class="event">
						<div class="event-name">{{ conversation.event_name }}</div>
					</div>
			</a>

  </ion-content>
</ion-view>






