/* Event Details Style */

.d-event-details {
	background-color: #ECEBE8;

.event-info {
  height: 180px;
  background-position: 0px -90px;

	.event-photo {
    	padding-top: 30px;
    	padding-left: 15px;
	}

	.event-data .event-title {
    	padding-top: 30px;
    	font-size: 26px;
	}

	.locationicon{
		width: 20px;
		float: left;
	}

	.event-address{
		padding-left: 26px;
		padding-bottom: 4px;
		font-size: 18px;
	}

	.timeicon{
		padding-top: 10px;
		width: 20px;
		float: left;
	}

	.event-time{
		padding-top: 10px;
		padding-left: 26px;
		font-size: 18px;
	}
}

.event-photo img {
    height: 120px;
    border-radius: 60px;
}


.ticket.item.row.icon-right.ion-chevron-right{
	background-color: #ECEBE8;
	border-style: solid;
    border-width: 1px;
}

.padding.scroll-content.ionic-scroll.has-header.has-tabs{
	margin: 0px;
}


}


