/* Events Style */

.d-events {
	background-color: #ECEBE8;

	.bar-search {
		padding: 0;
		background-color: #ECEBE8;
	}

	.item-input-wrapper{
		background-color: white;
	}


	#categories_container {

		padding: 5px;

		.categories {
			overflow: hidden;

			.category {
				padding: 0;
				margin-right: 5px;
				float: left;
				width: 49%;
				height: 100px;
				border: 0;
				&:last-child {
					margin-right: 0;
				}
				label.checkbox {
					height: 100%;
					top: inherit;
					bottom: 0;
					input {
						position: absolute;
						bottom: 0;
						margin-bottom: 8px;
						right: -3px;
					}
				}

			  	.checkbox input:before, .checkbox-icon:before {
			  		background-color: rgba(255,255,255,0.0);
			  		border: 1px solid #FFF;
    			}

				.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
    				background: #398FAB;
    				opacity: 1;
    			}

				img {
					position: absolute;
					height: 100%;
					width: 100%;
				}
				.category-name {
					position: absolute;
					color: white;
					bottom: 0;
					margin-bottom: 10px;
					margin-left:6px;
					left: 5px;

				}
			}
		}
	}

	#events_container {
		.events-date {
			color: #fff;
			background-color: #398FAB;
			margin-bottom: 5px;
			padding-left: 11px;
			padding-bottom: 2px;
			padding-top: 3px;
		}

		.event {
			.row {
				padding: 0;
				margin-bottom: 5px;
				color: inherit;
				text-decoration: inherit;
				&.ion-chevron-right:before {
					margin-top: 30px;
					position: absolute;
					padding-right: 10px;
					right: 0;
					color: gray;
				}
				& > div {
					height: 70px;
				}
				.event-pic {
					width: 70px;
					padding-left: 5px;

				}
				.event-data {
					.event-title {
						font-weight: 400;
						font-size: 18px;
						padding: 0 5px;
					}
					.event-address {
						padding: 0 5px;
						font-size: 14px;
						font-weight: 300;
					}
					.event-time {
						padding: 0 5px;
						font-size: 12px;
						color: gray;
					}
				}
				.event-price {

					.event-price-from {
						font-size: 16px;
					}
					.event-price-per-ticket {
						font-size: 14px;
						color: gray;
					}
					.event-price-available-tickets {
						font-size: 14px;
						color: gray;
					}
				}
			}
		}
	}

	

}