/* Event Details Style */

.d-event-details {
	background-color: #ECEBE8;






.ticket.item.row.icon-right.ion-chevron-right{
	background-color: #ECEBE8;
	border-style: solid;
    border-width: 1px;
}

.padding.scroll-content.ionic-scroll.has-header.has-tabs{
	margin: 0px;
}


}


