/* Login Style */

.d-login {

	background: url('../img/login_screen/blueBG@2x.png') no-repeat;
	background-size: cover;

	.logo {
		text-align: center;
		padding-top: 40px;
		img {
			height: 240px;
		}
	}

	.fb-login {
		text-align: center;
		padding-top: 10px;
		img {
			height: 50px;
		}
	}

	.text {
		font-family: helvetica;
		font-size: 14px;
		text-align: center;
		margin-top: 10px;
		padding-right: 20px;
		padding-left: 20px;
		color: #FFFFFF;
	}

	.text-bottom {
		width: 100%;
		font-family: helvetica;
		font-size: 14px;
		text-align: center;
		color: #FFFFFF;
		position:absolute;
		bottom:0;
		padding: 20px;
		a {
    		color: white;
		}
	}


	.or-icon {
		text-align: center;
		margin-top: 20px;
		img {
			height: 44px;
		}
	}

	.guest {
		text-align: center;
		margin-top: 20px;
		img {
			height: 40px;
		}
	}
	
}


