/* Messages Style */

.d-messages {
	background-color: #ECEBE8;

	//////////////////// Conversations Part ////////////////////

	.nomessages{
		color: grey;
	  	font-size: 18px;
	  	padding-top: 100px;
	  	text-align: center;
	}

	#peers {

		.peer {
			height: 90px;
			padding: 15px;
			margin-bottom: 0px;
			color: inherit;
			text-decoration: inherit;
			overflow: hidden;
		  	display: block;
		  	clear: both;
		  	border-bottom: 1px solid #ECEBE8;
  			background-color: white;
			&.ion-chevron-right:before {
				color: grey;
				font-weight: 100;
				margin-top: 20px;
				position: absolute;
				right: 15px;
  				font-size: 12px;
				& > div {
					height: 100px;
				}
			}
			.user-pic {
				float: left;
				width: 60px;
				height: 60px;
				border-radius: 30px;
			}
			.user-name {
				float: left;
				color: #444;
				font-weight: 300;
				font-size: 16px;
				padding-left: 20px;
				padding-top: 10px;
			}
		}
		
	}




















	//////////////////// Chat Part ////////////////////

	#chat {
		background-color: #eee;
		height: 100%;
		//margin: 20px auto 0;
		//width: 400px;

		#header-chat {
			background-color: #555;
			color: white;
			padding: 10px;
			text-align: center;
			text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
			margin-bottom: 10px;
		}

		.chat-box {
			height: calc(100% - 110px);
			margin-bottom: 10px;
		}

		#mensajes {
			padding: 10px;
			height: 100px;
			
			.mensaje-amigo {
				margin-bottom: 10px;
				overflow: hidden;
  				clear: both;
				img {
					//float: right;
					display: inline-block;
					vertical-align: top;
					border-radius: 25px;
					width: 50px;
				}

				.contenido {
					//float: right;
					background-color: white;
					border-radius: 5px;
					color: black;
					display: inline-block;
					font-size: 13px;
					padding: 10px;
					vertical-align: top;
					max-width: 210px;
				}

				.flecha-derecha {
					//float: right;
					display: inline-block;
					margin-right: -6px;
					margin-top: 10px;
					width: 0; 
					height: 0; 
					border-top: 0px solid transparent;
					border-bottom: 15px solid transparent;
					border-right: 15px solid white;
				}

				.fecha {
					color: #777;
					font-style: italic;
					font-size: 13px;
					text-align: left;
					margin-top: 10px;
				}
			}
			
			.mensaje-autor {
				margin-bottom: 10px;
				overflow: hidden;
  			clear: both;
				
				img {
					float: right;
					display: inline-block;
					vertical-align: top;
					border-radius: 25px;
					width: 50px;
				}
				
				.contenido {
					float: right;
					background-color: #398FAB;
					color: white;
					border-radius: 5px;
					//box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
					display: inline-block;
					font-size: 13px;
					padding: 10px;
					vertical-align: top;
					max-width: 210px;
				}
				
				.fecha {
					float: right;
					color: #777;
					font-style: italic;
					font-size: 13px;
					text-align: right;
					margin-right: 35px;
					margin-top: 10px;
				}
				
				.flecha-izquierda {
					float: right;
					display: inline-block;
					margin-left: -6px;
					margin-top: 10px;
					width: 0; 
					height: 0; 
					border-top: 0px solid transparent;
					border-bottom: 15px solid transparent;
					border-left: 15px solid #398FAB;
				}
			}
		}

		#caja-mensaje{
			background-color: white;
			margin: 0 auto;
			padding: 5px 10px 10px;
			position: absolute;
			bottom: 0;
			width: 100%;
			input{
				float: left;
				border: solid 1px #4193BF;
				outline: none;
				padding: 10px;
				width: calc(100% - 110px);
			}
			button{
				float: right;
				border: 0;
				background-color: #4193BF;
				color: white;
				font-size: 16px;
				padding: 6px;
				width: 100px;
			}
		}

	}
	



}