/* Sell Ticket Preview x Style */

.d-selling-preview {
	font-weight: 300;
	background-color: #ECEBE8;


	.ticketheader{
		height: 110px;
		text-align: center;

		.ticketicon{
			padding-top: 24px;
		}
	}

	.input-label {
		width: 50%;
		max-width: none;
		font-weight: 300;
	}

		.item-input {
			&:first-child {
				border-top: 0;
			}
		}

		.item-input-des {
			&:first-child {
				border-top: 0;
			}
			padding: 0px;
  			border-right: 0;
  			border-left: 0;
  			padding-left: 0px;

  			.input-label {
				font-weight: 300;
				padding-bottom: 0px;
				font-size: 16px;
				padding-left: 16px;
				max-width: none;
			}
			input[type="text"]{
				color: grey;
				font-weight: 300;
				font-size: 16px;
				padding-left: 16px;
			}
		}


	.textdetail{
		background-color: white;
		color: grey;
		font-weight: 300;
		font-size: 16px;
	}

	.poundsym{
		color: grey;
		font-weight: 300;
		font-size: 16px;
		padding-top: 2px;
	}

	.linebreak{
		height: 2px;
	}



  	.button.button-full.button-positive{
  		color: white;
  		font-size: 18px;
  		background-color: #398FAB;
  		max-width: 380px;
  		width: 80%;
  		border-style: none;
  		margin-left: auto;
	  	margin-right: auto;
  	}

}
