/* Side Menu Style */

.d-side-menu {
	
	////// TOP BAR //////

	.dingo-top-bar {
		color: #444;
		background-color: #398FAB;

		.title {
			color: #fff;
			//background-image: url('../img/login_screen/dingo_logo@2x.png');
			background-repeat: no-repeat;
			background-size: 48px;
  			background-position: 73px 0px;
			width: 200px;
			margin-left: auto;
			margin-right: auto;
			font-size: 18px;
		}

		.titleicon{
			height: 45px;
		}


		.icon.ion-navicon {
			color: #fff;
		}
		.button.back-button {
			color: #fff;
		}

	}

	.ion-android-more-vertical{
		color: white;
	}
	

	/////// SIDE MENU ////////

	.bar.bar-header.bar-stable.side{
		background-color: #3F445B;
	}

	.item.item-icon-left.item-complex{
		border: 0px;
		margin: -2px;
	}

	.item-complex.item-icon-left .item-content {
  		padding-left: 20px;
	}

	.item-content{
		height: 90px;
		color: #D8D8D8;
		font-weight: 300;
		background-color: #3F445B;
		padding-top: 26px;
		border-style: solid;
		border-color: #3F445B;
		border-width: 1px;

		.sidemenuicon{
			float: left;
		}

		.sidemenutext{
			float: left;
			padding-left: 20px;
			padding-top: 1px;
		}

		.sidemenuarrow{
			float: right;
		}
	}

	.sidemenufiller{
		height: 500px;
		background-color: #3F445B;
		border: 0px;
		margin: -3px;
	}
}

