/* Ticket Details Style */

.d-ticket-details {
	background-color: #ECEBE8;

	.ticketheader{
		height: 110px;
		text-align: center;

		.ticketicon{
			padding-top: 24px;
		}
	}

	.ticket-info {
		.item-input {
			border-right: 0;
			border-left: 0;
			padding-left: 0px;
			&:first-child {
				border-top: 0;
			}
			.input-label {
				font-weight: 300;
				font-size: 16px;
				padding-left: 20px;
				max-width: none;
				width: 51%
			}

			.blah{
				width: 50%
			}

			input {
				background-color: inherit;
			}
			input[type="text"]{
				color: grey;
				font-weight: 300;
				font-size: 16px;
			}
		}

		.item-input-des{
			padding: 0px;
			border-right: 0;
			border-left: 0;
			padding-left: 0px;
			&:first-child {
				border-top: 0;
			}
			.input-label {
				font-weight: 300;
				padding-bottom: 0px;
				font-size: 16px;
				padding-left: 20px;
				max-width: none;
			}

			input {
				background-color: inherit;
			}
			input[type="text"]{
				color: grey;
				font-weight: 300;
				font-size: 16px;
				padding-left: 20px;
			}
		}
	}

	.ticket-actions {
		text-align: center;

		.photo {
			height: 130px;
			border-radius: 65px;
		}
		.button {
			margin-top: 15px;
			min-height: 0px;
			height: 40px;
			line-height: 30px;
			width: 90%;
			border-color: #398FAB;
			color: #398FAB;
			font-size: 18px;

			&.buy-button {
				font-weight: bold;
				border: 3px solid;
			}
		}
	}



}